.gitignore
/imagenes/*
/formularios/__pychache__/*
/util/__pychache__/*
/__pychache__/
/formularios/__pychache__/
/util/__pychache__/
/__pychache__/

## excluded from .gitignore with negation --> !
!/imagenes/instrucciones.txt
!/imagenes/assets/